# Moneyball
### Using Statistics to help the Oakland A's become competitive

##### This is the capstone data project in Jose Portilla's Data Science with R course implemented in Python

In 2002, the Oakland Athletic's made prominent use of statistical analysis to obtain undervalued players and front a competitive team with the third lowest salary in the Majors. They reevaluated key player performance metrics, discovering that older statistics such as RBI's and Batting Average where no good indicators of player performance. Instead they focused on metrics like 'On Base Percentage' and 'Slugging Percentage' as indicators of good offense. In this notebook, we will pretend to go back in time and help the Oakland A's find such talent that has been overlooked and undervalued by the rest of the league.

In [58]:
#imports
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

 ## Reading in the data

In [131]:
batting_df = pd.read_csv('Batting.csv')

batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
0,aardsda01,2004,1,SFN,NL,11,11.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
1,aardsda01,2006,1,CHN,NL,45,43.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,45.0
2,aardsda01,2007,1,CHA,AL,25,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,aardsda01,2008,1,BOS,AL,47,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0
4,aardsda01,2009,1,SEA,AL,73,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [132]:
batting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97889 entries, 0 to 97888
Data columns (total 24 columns):
playerID     97889 non-null object
yearID       97889 non-null int64
stint        97889 non-null int64
teamID       97889 non-null object
lgID         97152 non-null object
G            97889 non-null int64
G_batting    96483 non-null float64
AB           91476 non-null float64
R            91476 non-null float64
H            91476 non-null float64
2B           91476 non-null float64
3B           91476 non-null float64
HR           91476 non-null float64
RBI          91052 non-null float64
SB           90176 non-null float64
CS           68022 non-null float64
BB           91476 non-null float64
SO           83638 non-null float64
IBB          54912 non-null float64
HBP          88656 non-null float64
SH           85138 non-null float64
SF           55443 non-null float64
GIDP         65368 non-null float64
G_old        92700 non-null float64
dtypes: float64(18), int64(3), object(3)
memory usage: 17.9+ MB

### Feature Engineering

We'll be adding three more statistics to the dataframe:
* Batting Average
* On Base Percentage
* Slugging Percentage

##### Batting Average

Batting Average is defined as:
\begin{equation*}
AVG = \frac{H}{AB}
\end{equation*}

Where \begin{equation*} {H} \end{equation*} is the number of hits and \begin{equation*} {AB} \end{equation*} is the number of 'At Bats'.

##### Here we create a new column on our batting_df dataframe called 'BA'

In [133]:
def get_bavg(x):
    H = x['H']
    AB = x['AB']
    if AB == 0 or H == 0:
        return 0
    else:
        return H/AB

In [134]:
batting_df['BA'] = batting_df.apply(get_bavg, axis=1)

##### On Base Percentage

On Base Percentage is defined as:
\begin{equation*}
OBP = \frac{H+BB+HBP}{AB+BB+HBP+SF}
\end{equation*}

In [135]:
# define a function to calculate the OBP that takes in a dataframe as a parameter
def get_obp(x):
    H = x['H']
    BB = x['BB']
    HBP = x['HBP']
    SF = x['SF']
    AB = x['AB']
    Denominator = (AB+BB+HBP+SF)
#    if Denominator == 0:
#        Denominator = 0.001 #prevent python from approximating to zero and getting div by zero errors
    if AB == 0:
        return 0
    else:
        return (H+BB+HBP)/Denominator

In [136]:
batting_df['OBP'] = batting_df.apply(get_obp, axis=1)

In [137]:
batting_df['OBP']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
5        0.000000
6             NaN
7        0.322068
8        0.366261
9        0.364885
10       0.377778
11       0.385542
12       0.401154
13       0.352410
14       0.380597
15       0.389805
16       0.390756
17       0.392744
18       0.378717
19       0.356105
20       0.369208
21       0.353550
22       0.395931
23       0.384615
24       0.410122
25       0.389706
26       0.402151
27       0.341207
28       0.332103
29       0.314935
           ...
97859    0.000000
97860    0.257576
97861    0.000000
97862    0.000000
97863    0.193548
97864    0.000000
97865    0.257576
97866    0.000000
97867    0.000000
97868    0.000000
97869    0.000000
97870    0.390244
97871    0.000000
97872    0.000000
97873    0.369963
97874    0.305085
97875    0.280000
97876    0.302405
97877    0.328571
97878    0.289773
97879    0.317961
97880    0.335938
97881    0.320755
97882    0.000000
97883    0.000000
97884    0.134328
97885    0.344392
97886    0.147059
97887    0.354376
97888    0.290155
Name: OBP, dtype: float64

##### Singles

To calculate Slugging Percentage, we'll need to calculate singles. To do that, we can get the total hits and subtract Home Runs, Doubles, and Triples

In [138]:
def get_singles(x):
    H = x['H']
    doubles = x['2B']
    triples = x['3B']
    HR = x['HR']
    singles = H-(doubles-triples-HR)
    if singles <=0:
        return 0
    else:
        return singles

In [139]:
batting_df['1B'] = batting_df.apply(get_singles, axis=1)

##### Slugging Percentage

Slugging Percentage is defined as
\begin{equation*}
SLG = \frac{(1B)+(2\times2B)+(3\times3B)+(4\times(HR))}{AB}
\end{equation*}

In [140]:
def get_slg(x):
    H = x['H']
    doubles = x['2B']
    triples = x['3B']
    HR = x['HR']
    singles = x['1B']
    AB = x['AB']
    if AB == 0:
        return 0
    else:
        return (singles + 2*doubles + 3*triples + 4*HR)/(AB)

In [141]:
batting_df['SLG'] = batting_df.apply(get_slg,axis=1)

In [142]:
batting_df.head(7)

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,IBB,HBP,SH,SF,GIDP,G_old,BA,OBP,1B,SLG
0,aardsda01,2004,1,SFN,NL,11,11.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,1,CHN,NL,45,43.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,45.0,0.0,0.0,0.0,0.0
2,aardsda01,2007,1,CHA,AL,25,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,1,BOS,AL,47,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,1,SEA,AL,73,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
5,aardsda01,2010,1,SEA,AL,53,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
6,aardsda01,2012,1,NYA,AL,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Adding in Salary Data

We now have to add salary data to our data frame. This will give us a good idea at who is undervalued i.e cheap prospects

In [143]:
# Read in Salary data

In [144]:
salary_df = pd.read_csv('Salaries.csv')

In [145]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23956 entries, 0 to 23955
Data columns (total 5 columns):
yearID      23956 non-null int64
teamID      23956 non-null object
lgID        23956 non-null object
playerID    23956 non-null object
salary      23956 non-null int64
dtypes: int64(2), object(3)
memory usage: 935.9+ KB

##### Since we only have salary data for 1985 and beyond, we need to limit our batting data to 1985 and beyond

In [147]:
battingtwo_df = batting_df.loc[batting_df['yearID'] >= 1985]